@import url(reset.css);

/*//// for global pages Star ////*/

*{-webkit-font-smoothing: antialiased;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body{color:#444;padding: 0;margin: 0;background-color:#efefef;font-family: Noto Sans TC,Microsoft JhengHei,Microsoft YaHei,Helvetica Neue,arial;}
a,input:focus,button {outline:none;}
a {color:#444;}
a:link,a:visited,a:hover,a:active {text-decoration: underline;text-decoration: none;}
img{vertical-align: inherit;}
h1{font-size:18pt;}
h2,.f16{font-size:16pt;}
h3,.f14{font-size:14pt;}
.f10{font-size:10pt;}
h1,h2,strong,b{font-weight: bold;}
.bold{font-weight: bold;}
.middle{vertical-align: middle;}
.red {color:#e8340c;}
.grey {color:#bbb;}
.blue {color:#0080ff;}
.green {color:#36ea9f;}
.yellow {color:#ff8c47;}

.h05rem{height:.5rem;}
.h1rem{height:1rem;}
.h15rem{height:1.5rem;}
.h2rem{height:2rem;}
.h25rem{height:2.5rem;}
.h3rem{height:3rem;}
.h35rem{height:3.5rem;}
.h4rem{height:4rem;}
.h45rem{height:4.5rem;}
.h5rem{height:5rem;}
.p0{padding:0;}
.px0{padding-left:0;padding-right:0;}
.m0{margin:0;}
.mx0{margin-left:0;margin-right:0;}

.container-fluid,.container {background-color:#fff;padding:0;max-width:40rem;}
.container {padding:0 .8rem;}
.navbar{padding: .5rem 0;min-height:3.5rem;border-bottom:1px solid #ddd;}
.row {margin:0;}
.mainHeight{min-height:100vh;;}
.mainHeight__{min-height:calc(100vh-10rem)}
.img-responsive{max-width:100%;}
.img-circle{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.thisStickyTop {position:sticky;top:0;z-index:8;}
.thisStickyBottom {position:sticky;bottom:-1px;}

.btn{display: inline-block;padding: .2rem .6rem;background-color:transparent;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.btn-block{display:block;width: 100%;}
.trs3 {transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;}

.topSearch .ico {position:absolute;color:#dadada;margin:.4rem 0 0 .25rem;}
.topSearch input {border:none;display:block;width:100%;padding:.25rem 0 .25rem 1.5rem;}

.footerMenu {padding:.3rem 0 0;-moz-box-shadow: 0px -2px 8px rgba(0,0,0,.12);-webkit-box-shadow: 0px -2px 8px rgba(0,0,0,.12);box-shadow: 0px -2px 8px rgba(0,0,0,.12);}
.footerMenu i {color:#666;}
.footerMenu label {display:block;font-size:9pt;color:#999;}
.footerMenu .active * {color:#e8340c;}

/*//// for global pages End ////*/

/*//// for index pages Star ////*/

.swiper-pagination-bullet-active{background:#e8340c;width: .8rem;border-radius:.5rem;height: 6px;}
.swiper-container .swiper-slide img {max-width:100%;}

/* 子大类 */
.index4item {padding:1rem 0;margin-bottom:1rem;}
.index4item a:hover {color:#222;}
.index4item a i {display:block;}

/* 子标题 */
.subTitle {margin-bottom:1rem;}
.subTitle strong {font-size:14pt;}

/* 今日免费 */
.todayFreeItem {border:1px solid rgba(230,230,230,1);padding:.35rem 0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.todayFreeItem h3 {white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.todayFreeItem p {margin:.5rem 0;}

/* 热门推荐 */
.hotItems li {margin-bottom:1.2rem;}
.hotItems a img {margin-bottom:.5rem;}
.hotItems a h3 {color:#4a4a4a;}
.hotItems a p {margin-top:.5rem;font-size:small;}
.hotItems a p img {vertical-align: -webkit-baseline-middle;vertical-align: middle;}

/* 换一批 */
.loadNewItem {position:relative;z-index:-1;display:block;text-align:center;}
.loadNewItem .fa-spin {color:#999;transform: scale(2,2);transition:all .8s;}

/* 在线沙龙 */
.salonItems {display:table;white-space: nowrap;display: block;width:100%;overflow: hidden;overflow-x: auto;}
.salonItems li {display:table-cell;padding:0 .35rem .25rem 0;}
.salonItems li:last-child {padding-right:0;}
.salonItems li a {position:relative;display:inline-block;height:6.8rem;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;overflow:hidden;}
.salonItems li a img {max-height:100%;}
.salonItems li p {padding:.25rem;}

/* 高级讲师 */
.seniorLecturer {display:table;white-space: nowrap;display: block;width:100%;overflow: hidden;overflow-x: auto;}
.seniorLecturer li {display:table-cell;padding: .25rem 1rem .65rem 0;vertical-align: top;}
.seniorLecturer li:last-child {padding-right:0;}
.seniorLecturer li a {height:100%;display:block;text-align:center;padding:1rem 1.6rem;border:1px solid #f0f0f0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.seniorLecturer li a img {display:block;width:5rem;margin:0 auto;}
.seniorLecturer li a name {display:block;margin:1rem 0;font-weight: bold;font-size:14pt;}
.seniorLecturer li a span {background-color:#ff8c47;color:#fff;padding:.35rem .8rem;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.seniorLecturer li a p {padding-top:3rem;color:#999;display:block;}

/* 没有更多了 */
.noMore {display:block;width:65%;margin:0 auto;text-align:center;padding-bottom:2rem;color:#e4e4e4;}
.noMore small {background-color:#fff;padding:0 1.5rem;position:relative;}
.noMore:before {content:"";display:block;width:100%;border-top:1px solid #e4e4e4;position:relative;top:.5rem;}

/*//// for index pages End ////*/

/*//// for sub pages Star ////*/

.eBuy {}
.eBuy li {}
.eBuy li a {padding:1rem 0;}
.eBuy li a selected {}
.eBuy li a selected h2 {font-size:14pt;color:#555;}
.eBuy li a p {margin-top:.25rem;}
.eBuy li a strike {display:block;margin-top:.25rem;font-size:small;}
.eBuy li a .limitedTime {padding:.32rem .4rem;background-color:#ff8c47;color:#fff;white-space:nowrap;font-size:small;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.flexColumn {display: flex;height: 100%;flex-direction:column;}
.flexColumn div {display: flex;}
.flexColumn .alignBottom{align-items:flex-end;flex: 1;}
.flexEnd {align-items: flex-end;}

/* 筛选选单 */
.filterSel {}
.filterSel label {padding:1rem 0;cursor: pointer;}
.filterCont {min-height: 0px;overflow:hidden;position:absolute;left:0;width:100%;}
.contBody {display:none;position:absolute;z-index:1;left:0;padding:1rem;width:100%;background-color:#fff;border-top:1px solid #ddd;}

#sel-pop,#sel-1,#sel-2,#sel-3 {display:none;}

#sel-1:checked ~ .filterSel .sel-1 img,
#sel-2:checked ~ .filterSel .sel-2 img,
#sel-3:checked ~ .filterSel .sel-3 img {transform:rotate(-180deg);top: -.25rem;position: relative;}

#sel-pop:checked ~ .popCont, /* for single Menu */
#sel-1:checked ~ label.fc-1,
#sel-2:checked ~ label.fc-2,
#sel-3:checked ~ label.fc-3 {min-height:100vh;background-color:rgba(0,0,0,.5);}

#sel-pop:checked ~ .popBody, /* for single Menu */
#sel-1:checked ~ .cBody-1,
#sel-2:checked ~ .cBody-2,
#sel-3:checked ~ .cBody-3 {display:block;}

/* 经营管理 List */
.skillList {width:90%;margin:0 auto;}
.skillList input[type="radio"] {display:none;}
.skillList li {display:block;border-bottom:1px solid #f3f3f3;}
.skillList li:last-child {border:none;}
.skillList li label {display:block;padding:1rem 0;}
.skillList li label i {float:right;display:none;}

.skillList input[type="radio"]:checked + label {color:#e8340c;}
.skillList input[type="radio"]:checked + label i {display:block;}

/* 筛选选单 */
.coursePrice li {padding-bottom:1.2rem;}
.coursePrice label {color:#7b7b7b;border:1px solid #fff;display:block;padding:1.2rem 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.coursePrice input[type="radio"] {display:none;}
.coursePrice input[type="radio"]:checked + label {color:#e8340c;border:1px solid #e8340c;}

/* 确认 & 重置按钮 */
.submitBtn .col-xs-6 {padding:0;}
.submitBtn input {color:#999;display:block;padding:1rem 0;width:100%;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.submitBtn input[type="submit"]{color:#fff;background-color:#f92f34;}

/* 已购 Page */
.tagBar {padding:.8rem .3rem;}
.tagBar .tags {padding:.5rem .9rem;font-size:small;background-color:#eaeaea;color:#666;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;}
.progressBlock {width:100%;}
.progressBlock .col-xs-8 {padding:0;}
.progressBlock .col-xs-4 {text-align:right;white-space: nowrap;padding-bottom:.4rem;}
.progress {display:block;width:100%;height: 4px;background-color:#dcdcdc;border-radius: 4px;}
.progress-bar {background-color:#f92f34;display:block;height: 4px;border-radius: 4px;}

.itemType {color:#fff;padding:1px .25rem;margin-left:.5rem;background-color:#ff8c47;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

/* 课程详情 */
.classDetail {}
.classDetail h2 {margin:1rem 0;}
.classDetail p {line-height:1.8;color:#999;}
.TeacherIntroduction p {color:#cfcfcf;text-indent:2em;}

/* 收藏 */
.favoriteHeart {border-left:1px solid #ececec;}
.favoriteHeart.active {color:#f92f34;}
.favoriteHeart.active svg {animation: fave-heart .7s;}
.favoriteHeart.active svg g {fill:#f92f34;}

@keyframes fave-heart {
  0% {
    transform: scale(1,1);
	opacity:.1;
  }
  50% {
    transform: scale(1.5,1.5);
  }
  100% {
    transform: scale(1,1)
	opacity:1;
  }
}

/*//// for sub pages End ////*/

/*//// for Tabs Swich Star ////*/

.hejun-Tabs {}
.hejun-Tabs input[type="radio"] {display:none;}
.hejun-Tabs .flex-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hejun-Tabs .flex-tabs .tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hejun-Tabs .flex-tabs .panel {
  padding-top:1rem;
  background-color: #fff;
  display: none;
  width: 100%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.hejun-Tabs .tab {
  display: inline-block;
  vertical-align: top;
  text-align:center;
  color:#cdcdcd;
  cursor: hand;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
}
.hejun-Tabs .tab span {padding:.8rem 0;display:inline-block;}
.hejun-Tabs .tab div.bar {background-color:#fff;height:4px;width:3.5rem;margin:0 auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.hejun-Tabs .tab:hover {color:#222;}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {cursor: default;color:#555;font-weight: bold;}

#tab-one:checked ~ .tabs #tab-one-label div,
#tab-two:checked ~ .tabs #tab-two-label div,
#tab-three:checked ~ .tabs #tab-three-label div,
#tab-four:checked ~ .tabs #tab-four-label div {background-color:#ff595d;}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {display: block;}

/*//// for Tabs Swich End ////*/

/*//// for Mypages Star ////*/

.myPageItems {}
.myPageItems li {border-bottom:1px solid #e4e4e4;}
.myPageItems li:last-child {border:none;}
.myPageItems li a {color:#555;padding:.8rem 0;}
.myPageItems li a:hover {color:#222;background-color:#f3f3f3;}

/*//// for Mypages End ////*/